

body, html, element, root, .cadre, #side-fiche, #side-fiche .fiche-block, .gw-footer   {
    background: #333232;
        color:#fff
        }
.panel, #content-wrapper {
    background: #4a4949;
    background-color: #5c5c5c;
     } 
.important {
    color: #000;
}


gw-graph-tree-wrapper.languet {
    background-color: #4a4949;
}
content {
    background: #aa0404;
}

.panel.bloc-resultats-recherche .ligne-resultat, h1{
    color: #000;
}

.fake-a, a {
    color: #389683;
}
.search-filters-block .search-filter-block.closed {
    background-color: #4a4949;
}

.panel .gray-subpanel, .reveal-modal .gray-subpanel {
    background: #4a4949;
    -color: #000;
    background-color: #4a4949;
    }
.text-light {
    color: #a72424!important;
}

#gw-individual-header #gw-individual-menu nav.top-bar {
    background-color: #389683;
    color: #675a5a;
}


#gw-individual-header #gw-individual-menu .contain-to-grid.fixed {
    border-bottom: #cdcdcd;

    background-color: #389683;
}

#gw-individual-header #gw-individual-menu ul.menu>li>a {
    color: black;
    background-color: #389683;
}

#gw-individual-header #gw-individual-menu {
    border-bottom:  #cdcdcd;
    background: #389683;
    height: 39px;
}
