/* ==UserStyle==
@name           www.google.com/finance/quote/CSCO:NASDAQ - abr 2024
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */



@-moz-document url-prefix("https://www.google.com/finance/") {
    
    .CrPloe,.lzO0Ed,
    .g4E9Cb .ZAGvjd,
    
    .uDqevd, .FEFWbc,.RCcRmb, 
    .gb_Ra:not(.gb_Sa) .gb_sd,
    .gb_hd .gb_pd, #gb#gb a.gb_d,
    .gb_Oc,
    .T4LgNb, .TkL5bb, 
    .PxxJne,
    .Hm1r6d ,
    .ZvmM7, 
    .YMlKec, 
    .q0mqEc, 
    .j0CqVc, 
    .Ej6xqf, 
    .XNdmd,
    .NrF3hd, 
    .AHyjFe, 
    .pKBk1e, 
    .pxFzCf, 
    .TwnKPb,
    .tOzDHb,
    .ZB3Ebc .ZAGvjd,
    .CrPloe .Npx9Xe,
    .yV3rjd,
    .ECi4Zd,
    .slpEwd,
    .roXhBd,
    .J9Jhg,
    .QXDnM,
    .gyFHrc,
    .Ly3r6e,
    .XDfclc,
    .IifuId,
    .G5a7c,
    .nVwHK,
    .VfPpkd-LgbsSe .VfPpkd-vQzf8d,
    .YMlKec,
    .gb_1d:not(.gb_Ie) button,
    .fgdCnd.HcKLRc,
    .qIEjSe.bjCJpf,
    .Z63m9d.bjCJpf,
    .Usd1Ac,
    .rvZejd,
    .sZflkf,
    .vkk5M,
    .ndsAEb ,
    .c85eIb,
    .hSGhwc
    {
        color:#fff
    }
    

   
    
    c-wiz,  
    .gb_ga:not(.gb_Ia) .gb_id,
    .SliEQd, .fW22Te,.mLoZRc, .htyage, .ml2Uge, 
    .gb_Ra:not(.gb_Sa) .gb_sd,
    .gb_Qa:not(.gb_Ra) .gb_rd,
    .gb_hd .gb_pd,
    .gb_0d,
    
    .T4LgNb, .TkL5bb, .tOzDHb , 
    .ZB3Ebc, .ZAGvjd, .T4LgNb, 
    .TkL5bb , .vReuC, .BqbP5c,
    .onRPD,
    .IqBfM,
    .n37Dyc,
    .bE9oT,
    .gb_1d ,
    .VOEIyf .jBmls,
    .gb_1d.gb_we,
    .fgdCnd.HcKLRc,
    .hSGhwc
    
   
    {
        background:#000;
        
    }


    
    .tOzDHb {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 12px 8px 12px 12px        
    }


    .ZB3Ebc .ZAGvjd {
        -webkit-text-fill-color: red;
       
    }
    
    .pFZ9G {

    text-shadow: white 0px 0 0, white 0px 0 0, white 0 0px 0, white 0 0px 0;
}
    

    .ONLisb{
        
        color:black
    } 
    
       .WbUJNb .VfPpkd-jY41G-V67aGc:hover, .WbUJNb .VfPpkd-jY41G-V67aGc,   .gb_1d:not(.gb_Ie) button, .lUuFj, .mfs7Fc, .qIEjSe, .P6K39c, .PdOqHc,.yNnsfe,.KcpzD,.yY6Ze, .qNqwJf, .fbt0Xc, .Yfwt5{
        color:#c7c6c6
    }
    
    
    .VfPpkd-AznF2e:hover {
        
        background:#4791e4
    }
   #gb#gb a.gb_d:hover, 
          .gb_Oc:hover,
    .hSGhwc-ZlY4af, .hSGhwc-IOpRCf, .stxVfe .GqNdIe{ 
        color:rgb(0, 128, 255)
    }
   .gb_Qe, .dFVrsd .AyIYI{
        border:rgb(0,128,2555)
    }
    
    .gb_0d
    {

        background:black;
        box-shadow: 
        0 1px 12px rgb(0, 128, 255), 
        0 1px 12px rgb(0, 128, 255);
    }
    
    .gb_0d, .hSGhwc, .dFVrsd, .gb_1d, .gb_1d.gb_we{
        box-shadow: 
        0 1px 12px rgb(0, 128, 255), 
        0 1px 12px rgb(0, 128, 255);
        
    }
   .nz7KN {
        padding-left: 54px;
        padding-right: 54px;
        box-shadow: 
        0 1px 12px rgb(0, 128, 255), 
        0 1px 12px rgb(0, 128, 255);}
        }
    .dFVrsd .AyIYI{
        background:#0000004f
    }
     
    .VfPpkd-YVzG2b:hover,
    .VuraBe:hover,
    .NaLFgc:hover,    
    .yY3Lee:hover,   
    .SxcTic:hover,   
    .vReuC:hover,   
    .AHyjFe:not(.QwFhgb):focus,  
    .AHyjFe:not(.QwFhgb):hover,  
    .AHyjFe:hover,   
    .Zcuy2:hover,
    .onRPD:hover,
    .n37Dyc:hover,
    .bE9oT:hover,
    .VfPpkd-LgbsSe:hover,
    .fgdCnd.HcKLRc:hover,
    .Usd1Ac:hover,
    .Usd1Ac,
    
    .AyIYI:hover, .AyIYI:focus,
.fgdCnd:hover   

     {
        background:#0000004f
     }
